* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: rgb(21, 21, 65);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.choice{
height: 170px;
width: 170px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

#Rock:hover {
    cursor: pointer;
    background-color: rgb(238, 50, 110);
}

#Paper:hover {
    cursor: pointer;
    background-color: rgb(219, 50, 238);
}

#Scissor:hover {
    cursor: pointer;
    background-color: rgb(38, 93, 243);
}


img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.msg-container{
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    margin-top: 3rem ;
}

#user-score, 
#comp-score {
    font-size: 4rem;
}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

